<div class="save-upload-tip">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <text><em> When you complete uploading and/or removing images, click 'Save' to save the entire form. Otherwise, the associations between the product and the images will be lost.</em></text>
</div>
