@using JustOrderIt.Web.Areas.Public.ViewModels.Orders

@model OrderForUserProfile

@{
    ViewBag.Title = "Order Details";
}

<h2>OrderDetails</h2>
<div class="row order-label"><h4>Order with ref. number @Model.RefNumber, created at @Model.CreatedOn.ToShortDateString()</h4></div>
<br />
@Html.DisplayFor(m => m.OrderItems)
<hr />
<div class="row" id="order-totalcost">Total order cost: @string.Format("{0:c}",  Model.TotalCost)</div>

@section Scripts{
    <script>
        $(document).ready(function onDocumentReady() {
            $('.ui-igrating').on('click', function onIgRatingClick() {
                console.log($(this));
                $(this).parents('form:first').submit();
            });
        });

        function onCastVoteSuccess(e) {
            console.log($(e));
            //$('#igRating-editor').on('click', function clickVoteStar() {
            //    $(this).parents('form:first').submit();
            //});
        }
    </script>    
}
