@using JustOrderIt.Web.Areas.Public.ViewModels.Orders

@model OrderForUserProfile

@{
    ViewBag.Title = "Order Details";
}

<h2>OrderDetails</h2>
<div class="row order-label"><h4>Order with ref. number @Model.RefNumber, created at @Model.CreatedOn.ToShortDateString()</h4></div>
<br />
@Html.DisplayFor(m => m.OrderItems)
<hr />
<div class="row" id="order-totalcost">Total order cost: @string.Format("{0:c}",  Model.TotalCost)</div>

<img id="ajax-loading-spinner" src="~/Content/Kendo/Silver/loading_2x.gif" style="display: none; text-align: center;" />
<br />

@section Scripts{
    <script>
        $(document).ready(function onDocumentReady() {
            $('.ui-igrating').on('click', function onIgRatingClick() {
                $(this).parents('form:first').submit();
            });
        });

        //function onCastVoteComplete(e) {
        //    $('.ui-igrating').off('click');
        //}

        function onCastVoteSuccess(e) {
            $('.ui-igrating').off('click');
            $('.ui-igrating').on('click', function onIgRatingClick() {
                $(this).parents('form:first').submit();
            });
        }
    </script>    
}
