@using MvcProject.Web.Areas.Public.ViewModels.Images
@using MvcProject.Web.Areas.Public.ViewModels.Products
@model ProductImagesPartialViewModel

<div class="row image-in-focus">
    <img id="mainImage" src="@Url.ProductTmblPicture(Model.MainImage.UrlPath, Model.MainImage.FileExtension)"/>
</div>
<div class="row all-images">
    @foreach (var image in Model.Images)
    {     
        @*<div class="small-image">*@
            <a href="@Url.ProductTmblPicture(image.UrlPath, image.FileExtension)" class="thumbnail small-image">
                <img src="@Url.ProductSmallPicture(image.UrlPath, image.FileExtension)"/>
            </a>
        @*</div>*@   
    }    
</div>

