@using MvcProject.Web.Areas.Public.ViewModels.Products
@using MvcProject.Web.Areas.Public.ViewModels.Comments

@model IEnumerable<ProductCommentWithRatingViewModel>

@Html.Label("Reviews")
@{
    bool currentUserHasCommented = false;

    if (!Model.Any())
    {
        <p id="no-comments">no comments yet</p>
    }
    else
    {
        foreach (var comment in Model)
        {
            if (comment.UserName == this.User.Identity.Name)
            {
                currentUserHasCommented = true;
            }

            Html.RenderPartial(
                "_ProductCommentWithRating"
                ,comment
                , new ViewDataDictionary(this.ViewData) { { "rating-id", comment.Id } }
                );
        }
    }

    if (this.User.Identity.IsAuthenticated && !currentUserHasCommented)
    {
        <div class="row" id="leave-comment">
            @(Html.Partial(
                "_LeaveComment",
                new CommentPostViewModel((int)ViewData["productId"], this.User.Identity.Name)
                , new ViewDataDictionary(this.ViewData) { { "UpdateTargetId", "leave-comment" } }
                ))
        </div>
    }
}