@using MvcProject.Web.Areas.Public.ViewModels.Products
@using MvcProject.Web.Areas.Public.ViewModels.Comments

@model IEnumerable<ProductCommentWithRatingViewModel>

@Html.Label("Reviews")
@{
    bool currentUserHasCommented = false;
    <div id="all-comments">
        <ul>
            <li>
                @foreach (var comment in Model)
                {
                    if (comment.UserName == this.User.Identity.Name)
                    {
                        currentUserHasCommented = true;
                    }

                    Html.RenderPartial(
                        "_ProductCommentWithRating"
                        ,comment
                        , new ViewDataDictionary(this.ViewData) { { "rating-id", comment.Id } }
                        );
                }
            </li>
            <li>
                <span id="new-comment-placeholder"></span>
            </li>
        </ul>
    </div>

    if (this.User.Identity.IsAuthenticated && !this.User.IsInRole(IdentityRoles.Admin) && !currentUserHasCommented)
    {
        <div class="row" id="leave-comment">
            @(Html.Partial(
                "_LeaveComment",
                new CommentPostViewModel((int)ViewData["productId"], this.User.Identity.Name),
                new ViewDataDictionary(this.ViewData)
                {
                    { "UpdateTargetId", "new-comment-placeholder" }
                }))
        </div>
    }
}