@using MvcProject.Web.Areas.Public.ViewModels.Comments
@model IEnumerable<CommentForProductFullViewModel>

@{ 
    foreach (var comment in Model)
    {
        <div class="row">

        </div>
    }
}