@model MvcProject.Web.Areas.Public.ViewModels.Products.ProductSneakPeekViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Product Id: @Model.Id</h4>
</div>
<div class="modal-body">
    <p>Product title: @Model.Title</p>
</div>
