<div id="statistics-details" class="statistics-details container">
    <div class="row">
        <div class="col-md-1"><label for="statistics-id">Id</label></div>
        <div id="statistics-id_#=Id#" class="col-md-10"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"><label for="statistics-content">AllTimesItemsBought</label></div>
        <div id="statistics-allTimesItemsBought_#=Id#" class="col-md-10"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"><label for="statistics-properties">OverAllRating</label></div>
        <div id="statistics-overAllRating_#=Id#" class="col-md-10"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"><label for="statistics-createdOn">Created On</label></div>
        <div id="statistics-createdOn_#=Id#" class="col-md-10"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"><label for="statistics-modifiedOn">Modified On</label></div>
        <div id="statistics-modifiedOn_#=Id#" class="col-md-10"></div>
    </div>
</div>