@model IEnumerable<string>

@{
    ViewBag.Title = "Administration Index";
}

<div class="row">
    <h2>Administration panel</h2>
    <br />
</div>
<div class="row">
    <h4 class="col-md-2">
        Choose catalog entity:
    </h4>
    
    <ul id="domains-container" class="col-md-10">
    @foreach (string propertyName in Model)
    {
        <li class="btn btn-default">
            @Html.ActionLink(propertyName, "Index", propertyName, new { Area = Areas.AdministrationAreaName }, new { })
        </li>
    }
    </ul>
</div>

@section Scripts{
    <script>
        @*@(Html.Kendo().DeferredScripts())*@

        function submitForm() {
            $('#select-form').submit();
        }
    </script>
}