/*** SECTIONS:
  * ListView row
  * ListView ul
    * ListView li
      * SneakPeek
  * Kendo ListView pager
***/

/* ======= ListView row ======= */
.homepage-listview {
    height: 25%;
}

.homepage-listview > .k-block,
.homepage-listview > .k-draghandle,
.homepage-listview > .k-inline-block,
.homepage-listview > .k-widget {
    border-style: none;
    padding: 0 0 0 0;
}

.homepage-listview > .k-widget.productsList.k-listview {
    display: flex;
}

/* ======= ListView ul ======= */
.productsList {
    margin-bottom: 0;
}

    @media only screen and (max-width: 700px){
        .productsList {
            height: inherit;
        }
    }

.productsList .k-listview:after {
    clear: both;
    content: ".";
    visibility: hidden;
}

    /* ======= ListView li ======= */
    .homepage-product-li {
        float: left;
        list-style: none;
        position: relative;
        width: 20%;
    }

    .homepage-product-li .rows-container {
        height: 220px;
    }

    @media only screen and (max-width: 700px){
        .homepage-product-li .rows-container {
            height: 100%;
        }
    }

    .homepage-product-li .image {
        align-items: center;
        display: flex;
        height: 85%;
        justify-content: center;
        /*padding: 5px 5px 5px 5px;*/
        position: relative;
    }

    .homepage-product-li .price {
        height: 15%;
        text-align: center;
    }

    .homepage-product-li img {
        max-height: 100%;
        max-width: 90%;
    }

    .homepage-product-li a {
        border: none;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 100%;
    }

    .homepage-product-li:hover a {
        background-color: rgba(255,200,0,0.55);
        color: #fff;
        height: 100%;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
        visibility: visible;
        width: 100%;
    }

        /* ======= SneakPeek ======= */
        #sneakPeek-modal.modal.fade .modal-dialog {
            text-align: center;
            transform: none;
            -webkit-transform: none;
            transition: none;
            -webkit-transition: none;
            width: 65%;
        }

        #sneakPeek-modal.modal.fade .modal-dialog .modal-content {
            border: none;
            border-radius: 0;
            text-align: initial;
        }

        #sneakPeek-modal .modal-dialog .modal-content a {
            color: initial;
            font-family: Arial, Helvetica, sans-serif;
            font-size: initial;
            text-decoration: none;
        }

        #sneakPeek-modal .modal-dialog .modal-content .rating{
            font-size: 12px;
            font-style: italic;
        }

/* ======= Kendo ListView pager ======= */
.homepage-listview > .k-pager-wrap {
    border: none;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
    .homepage-listview > .k-pager-wrap > .k-pager-info {
        float: right;
        visibility: inherit;
    }

