/* ======== Carousel indicators ======== */
#myCarousel > .carousel-indicators {
    bottom: 0;
}

#myCarousel > .carousel-indicators > li {
    border-width: 2px;
    border-color:  indianred;
    background-color: indianred;
    z-index: 1000;
}

#myCarousel > .carousel-indicators > li.active {
    background-color: inherit;
}

/* ======== Carousel items ======== */
#myCarousel .product-image {
    display: inline-block;
}

#myCarousel .product-image > img {
    height: 200px;
    width: auto;
}

#myCarousel .product-title h4{
    color: indianred;
    text-shadow: none;
}

#myCarousel .item > a{
    border: none;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 500;
}

