/*** SECTIONS:
  * Common
  * Product Images
    * Large Image Modal
  * SideBar
    * Title
    * Rating
    * Unit Price
    * Shipping Price
    * Is In Stock
    * Category
    * Ref Number
    * Add to Cart
  * Product Info
    * Properties
    * Description
    * Tags
  * Product Reviews
    * Comments
    * Rating
***/

.product-full-view{
    height: 30%;
}

/* ========== Common ========== */
.product-full-view label {
    color: crimson;
    font-size: 18px;
    font-weight: lighter;
}

.product-full-view a {
    text-decoration: none !important;
}

/* ========== Product Images ========== */
#product-images {
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 35px 50px 35px;
}

    #product-images .image-in-focus {
        align-items: center;
        display: flex;
        height: 300px;
        justify-content: center;
        padding: 0 0 20px 0;
        text-align: center;
        width: 100%;
    }

    #product-images .image-in-focus #image-in-focus {
        max-height: 100%;
    }

    #product-images .all-images {
        height: 100%;
        width: 100%;
    }

    #product-images .all-images .small-image{
        align-items: center;
        display: flex;
        float: left;
        height: 70px;
        justify-content: center;
        list-style: none;
        margin: 3px 3px 3px 3px;
        padding: 5px 5px 5px 5px;
        width: 60px;
    }

    #product-images .all-images .small-image img{
        max-height: 100%;
        max-width: 100%;
    }
        
        /* ----------- Large Image Modal ----------- */

        /* Style the Image Used to Trigger the Modal */
        #image-in-focus {
            cursor: pointer;
            transition: 0.3s;
        }

        #image-in-focus:hover {opacity: 0.7;}

        /* The Modal (background) */
        #large-image-modal {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
            display: none; /* Hidden by default */
            height: 100%; /* Full height */
            left: 0;
            overflow: auto; /* Enable scroll if needed */
            padding-bottom: 60px; /* Location of the box */
            padding-top: 100px; /* Location of the box */
            position: fixed; /* Stay in place */
            top: 0;
            width: 100%; /* Full width */
            z-index: 1; /* Sit on top */
        }

        /* Modal Content (Image) */
        #large-image {
            border-radius: 0;
        }

        /* Add Animation - Zoom in the Modal */
        #large-image { 
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.3s;
            animation-name: zoom;
            animation-duration: 0.3s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)} 
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            #large-image {
                width: 100%;
            }
        }

/* ========== SideBar ========== */
#product-sidebar {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
    padding: 60px 0 0 0;
}

#product-sidebar label{
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 100%;
}

#product-sidebar .col-md-4 {
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

    /* ====== Title ====== */
    #product-sidebar #title{
        font-size: 18px;
    }

    /* ====== Seller ====== */
    #product-sidebar #seller a{
        color: midnightblue;
        text-decoration: none;
    }

    #product-sidebar #seller a:hover {
        color: dodgerblue;
        text-decoration: none;
    }

    /* ====== Rating ====== */
    #product-sidebar .ui-icon-star {
        opacity: 100;
    }

    /* ====== Unit Price ====== */
    #product-sidebar #unit-price td{
        color: #e4c220;
    }

    /* ====== Shipping Price ====== */
    #product-sidebar #shipping td{
        color: #e4c220;
    }

    /* ====== Is In Stock ====== */
    #product-sidebar #is-in-stock #in-stock {
        background-color: #37d518;
        border: solid 1px;
        border-color: #37d518;
        border-radius: 4px;
        color: white;
        font-size: 13px;
        margin: 0;
        padding: 2px;
        text-transform: uppercase;
    }

    #product-sidebar #is-in-stock #quantity {
        font-size: 12px;
    }

    #product-sidebar #is-in-stock #out-of-stock {
        background-color: #f23232;
        border: solid 1px;
        border-color: #f23232;
        border-radius: 4px;
        color: white;
        font-size: 13px;
        margin: 0;
        padding: 2px;
        text-transform: uppercase;
    }

    /* ====== Category ====== */
    #product-sidebar #category a{
        color: midnightblue;
        text-decoration: none;
    }

    #product-sidebar #category a:hover{
        color: dodgerblue;
        text-decoration: none;
    }

    /* ====== Ref Number ====== */
    #product-sidebar #ref-number p{
        font-size: 12px !important;
    }

    /* ====== Add to Cart ====== */
    #addtocart-form div.input-group {
        display: inline-flex;
    }

    #addtocart-form #cartitem-quantity {
        border-right: 0px;
        display: block;
    }

    /*#addtocart-form button {
        border-radius: 2px 2px 0 0;
    }*/

    /*#product-sidebar #add-to-cart a.disabled {
    }*/

/* ========== Product Info ========== */
#product-info {
    font-family: Arial, Helvetica, sans-serif;
}

    /* ====== Properties ====== */
    #product-info #properties{
        border-top: 2px solid;
        border-top-style: outset;
        margin: 30px 0 0 0;
        padding: 20px 10px 0 10px;
    }

        #product-info #properties table {
            width: 100%;
        }

        #product-info #properties table th {
            background-color: lightgoldenrodyellow;
            border-top: 1px solid #eeeaea;
            font-weight: normal;
            padding: 10px 10px;
            text-align: left;
        }

        #product-info #properties table td {
            border-top: 1px solid #eeeaea;
            font-weight: normal;
            padding: 10px 10px;
            text-align: left;
        }

    /* ====== Description ====== */
    #product-info #description{
        border-top: 2px solid;
        border-top-style: outset;
        margin: 30px 0 0 0;
        padding: 20px 10px 0 10px;
    }

        #product-info #description #description-content p{
            font-family: verdana,arial,helvetica,sans-serif;
            font-size: 16px !important;
        }

    /* ====== Tags ====== */
    #tags {
        margin: 0 0 0 0;
        padding: 0 10px 0 10px;
    }
        #tags label{
            text-transform: lowercase;
        }

        #tags .btn{
            margin: 0 0 0 5px;
            padding: 0 7px;
        }

/* ========== Product Comments ========== */
#product-reviews {
    margin: 50px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

    #product-reviews .row {
        margin: 25px 0 0 0;
    }

    #product-reviews #no-comments{
        font-size: 13px;
    }

    #product-reviews .comment-metadata{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 0 0 0;
    }

    #product-reviews .comment-metadata a{
        color: midnightblue;
        text-decoration: none;
    }

    #product-reviews .comment-metadata a:hover{
        color: dodgerblue;
        text-decoration: none;
    }

    #product-reviews .comment-content{
        font-size: 14px;
        margin: 0 0 0 10px;
    }

    /* ====== Comments ====== */
    #all-comments ul{
        list-style: none;
        padding-left: 20px;
    }

    #new-comment-form textarea{
        max-width: none;
        min-height: 100px;
        min-width: 30%;
    }

    #new-comment-form input{
        font-size: 12px;
    }

    .comment-content p{
        width: 50%;
        /*text-overflow: ellipsis;*/
        /*word-break: break-word;*/
        /*text-align: justify;*/
    }

    /* ====== Rating ====== */
    #product-reviews .ui-icon-star {
        opacity: 100;
    }
