@if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home" &&
     HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Index")
{
    <div id="myCarousel" class="carousel slide panel-collapse" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img src="~/Content/Images/Carousel/1.png" alt="Chania">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Some headline</h4>
                        <p>
                            <a href="">Home</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/Carousel/2.jpg" alt="Flower">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Some headline</h4>
                        <p>
                            <a href="">Home</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="item active">
                <img src="~/Content/Images/Carousel/3.jpg" alt="Chania">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>Some headline</h4>
                        <p>
                            <a href="">Home</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/Carousel/4.png" alt="Flower">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Some headline</h3>
                        <p>
                            <a href="">Home</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}