/* ======== Popup Window ======== */
.k-window {
    min-width: 70% !important;
    width: 70%;
    /*left: 25% !important;*/
}

/* ======== Popup Editor Form ======== */
.k-edit-form-container {
    width: 100% !important;
}

.k-edit-form-container /*input, select,*/ textarea {
    min-width: 90%;
    max-width: none;
}

    /* -------- Editor Lables -------- */
    .k-edit-form-container .editor-label {
        width: 20%;
    }

    .k-edit-form-container .editor-field {
        width: 70%;
    }

/* ======== Kendo MultiSelect ======== */
.k-multiselect {
    width: 90%;
}

/* ======== Kendo Upload ======== */
.k-upload-files .uploaded-item{
    position: relative;
}

div.save-upload-tip{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
