/*<style >*/ 
.productsList .k-widget .k-listview {
    border-style: none;
}

table td {
    position: relative;
    /*display: table-cell;*/
    width: 20%;
}

/*.product .img-div {
    position: relative;
    width: 100%;
}*/

.product .img-div img {
    position: relative;
    margin: auto;
    width: 100%;
}

.product a {
    display: inline;
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    /*width: 100%;
            height: 100%;*/
    border: none;
    overflow: hidden;
}

.product:hover a {
    text-decoration: none;
    visibility: visible;
    width: 100%;
    height: 100%;
    /*line-height: 210px;*/
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.25);
    overflow: hidden;
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}


.k-block, .k-draghandle, .k-inline-block, .k-widget {
    /*padding-left: 40%;*/
    border-style: none;
}

k-pager-wrap k-widget k-floatwrap {
    text-align: center;
}

.k-pager-info {
    float: none;
    visibility: hidden;
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*</style >*/
