/* ======== Carousel indicators ======== */
#myCarousel > .carousel-indicators {
    bottom: 0;
}

#myCarousel > .carousel-indicators > li {
    border-width: 2px;
    border-color:  indianred;
    background-color: indianred;
}

#myCarousel > .carousel-indicators > li.active {
    background-color: inherit;
}

/* ======== Carousel items ======== */
#myCarousel > .carousel-inner > .item > span {
    display: inline-block;
}

#myCarousel > .carousel-inner > .item > span > img {
    height: 200px;
    width: auto;
}
