/*** SECTIONS:
  * ListView row
  * Kendo ListView widget table
    * ListView table cell
      * SneakPeek
  * Kendo ListView pager
***/

.homepage-listview {
    /*height: 20%;*/
}

/* ======= ListView row ======= */
.homepage-listview > .k-block,
.homepage-listview > .k-draghandle,
.homepage-listview > .k-inline-block,
.homepage-listview > .k-widget {
    border-style: none;
    padding: 0 0 0 0;
}



/*************************************************/

.homepage-listview > .k-widget.productsList.k-listview {
    /*width: 100%;*/
    display: flex;
    /*height: 25%;*/
    /*overflow: hidden;*/
}

.productsList .k-listview:after {
    content: ".";
    clear: both;
    visibility: hidden;
}

.product-li {
    float: left;
    position: relative;
    width: 20%;
    /*height: 270px;*/
    list-style: none;
}

.product-li .image {
    position: relative;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.product-li .price {
    text-align: center;
    height: 15%;
}

.product-li .price p {
    /*margin-top: 5px;*/
}

.product-li img {
    max-width: 100%;
    max-height: 100%;
}

/*************************************************/



/* ======= Kendo ListView widget table ======= */
/*.productsList .k-listview {
    border-style: none;

    table-layout: fixed;
    width: 300px;
}*/

/*.productsList .k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/

    /* ======= ListView table cell ======= */


    /*.productsList td.listview-product-cell {
        position: relative;
        display: table-cell;
        width: 20%;
    }*/

    /*.productsList td.listview-product-cell img {
        vertical-align: inherit;
    }*/

    /*.productsList td.listview-product-cell .img-div img {
        position: relative;
        margin: auto;
        width: 100%;
    }*/

    .product-li a {
        display: inline;
        height: 100%;
        visibility: hidden;
        position: absolute;
        top: 0;
        border: none;
        overflow: hidden;
    }

    .product-li:hover a {
        text-decoration: none;
        visibility: visible;
        width: 100%;
        height: 100%;
        /*vertical-align: middle;*/
        text-align: center;
        color: #fff;
        background-color: rgba(255,200,0,0.55);
        overflow: hidden;
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
    }

        /* ======= SneakPeek ======= */
        #sneakPeek-modal.modal.fade .modal-dialog {
            transform: none;
            -webkit-transform: none;
            transition: none;
            -webkit-transition: none;
            width: 65%;
            text-align: center;
        }

        #sneakPeek-modal.modal.fade .modal-dialog .modal-content {
            text-align: initial;
            border: none;
            border-radius: 0;
        }

        #sneakPeek-modal .modal-dialog .modal-content a {
            text-decoration: none;
            color: initial;
            font-size: initial;
            font-family: Arial, Helvetica, sans-serif;
        }

        #sneakPeek-modal .modal-dialog .modal-content .rating{
            font-size: 12px;
            font-style: italic;
        }


/* ======= Kendo ListView pager ======= */
.homepage-listview > .k-pager-wrap {
    text-align: center;
}

    .homepage-listview > .k-pager-wrap > .k-pager-info {
        float: right;
        visibility: inherit;
    }

