/*** SECTIONS:
  * Common
  * Product Images
  * SideBar
    * Title
    * Rating
    * Is In Stock
    * Category
    * Ref Number
    * Unit Price
    * Shipping Price
  * Product Info
    * Properties
    * Description
    * Tags
  * Product Comments
    * Rating
***/

/* ========== Common ========== */
.product-full-view label {
    font-size: 18px;
    font-weight: lighter;
    color: crimson;
}

.product-full-view a {
    text-decoration: none !important;
}

/* ========== Product Images ========== */
#product-images {
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ========== SideBar ========== */
#product-sidebar {
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 0 0 0;
}

#product-sidebar label{
    height: 100%;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

#product-sidebar .col-md-4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
}

    /* ====== Title ====== */
    #product-sidebar #title{
        font-size: 18px;
    }

    /* ====== Rating ====== */
    #product-sidebar .ui-icon-star {
        opacity: 100;
    }

    /* ====== Is In Stock ====== */
    #product-sidebar #is-in-stock #in {
        font-size: 18px;
        color: green;
        font-weight: normal;
        margin: 0;
    }

    #product-sidebar #is-in-stock #quantity {
        font-size: 12px;
    }

    #product-sidebar #is-in-stock #out {
        font-size: 18px;
        color: darkred;
        font-weight: normal;
        margin: 0;
    }

    /* ====== Category ====== */
    #product-sidebar #category a{
        color: #27428e;
        /*font-weight: bold;*/
    }

    #product-sidebar #category a:hover{
        font-weight: bold;
        color: #5f66f3;
    }

    /* ====== Ref Number ====== */
    #product-sidebar #ref-number p{
        font-size: 12px !important;
    }

    /* ====== Unit Price ====== */
    #product-sidebar #unit-price td{
        color: #e4c220;
    }

    /* ====== Shipping Price ====== */
    #product-sidebar #shipping td{
        color: #e4c220;
    }

/* ========== Product Info ========== */
#product-info {
    font-family: Arial, Helvetica, sans-serif;
}

    /* ====== Properties ====== */
    #product-info #properties{
        margin: 30px 0 0 0;
        padding: 20px 10px 0 10px;
        border-top: 2px solid;
        border-top-style: outset;
    }

        #product-info #properties table {
            width: 100%;
        }

        #product-info #properties table th {
            text-align: left;
            font-weight: normal;
            padding: 10px 10px;
            border-top: 1px solid #eeeaea;
            background-color: lightgoldenrodyellow;
        }

        #product-info #properties table td {
            text-align: left;
            font-weight: normal;
            padding: 10px 10px;
            border-top: 1px solid #eeeaea;
        }

    /* ====== Description ====== */
    #product-info #description{
        margin: 30px 0 0 0;
        padding: 20px 10px 0 10px;
        border-top: 2px solid;
        border-top-style: outset;
    }

        #product-info #description #description-content p{
            font-family: verdana,arial,helvetica,sans-serif;
            font-size: 16px !important;
        }

    /* ====== Tags ====== */
    #product-info #tags{
        margin: 0 0 0 0;
        padding: 0 10px 0 10px;
        /*border-top: 2px solid;*/
        /*border-top-style: outset;*/
    }

        #product-info #tags .btn{
            padding: 0 7px;
            margin: 0 0 0 5px;
        }

/* ========== Product Comments ========== */
#product-comments {
    margin: 50px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    /*border-top: 2px solid;*/
    /*border-top-style: outset;*/
}

    #product-comments .row {
        margin: 25px 0 0 0;
    }

    #product-comments #no-comments{
        font-size: 13px;
    }

    #product-comments #comment-metadata{
        margin: 0 0 0 0;
        font-size: 13px;
        font-family: Georgia, sans-serif;
    }

    #product-comments #comment-content{
        font-size: 14px;
        margin: 0 0 0 10px;
    }

    /* ====== Rating ====== */
    #product-comments .ui-icon-star {
        opacity: 100;
    }
