/*** SECTIONS:
  * Common
  * Product Images
    * Large Image Modal
  * SideBar
    * Title
    * Rating
    * Is In Stock
    * Category
    * Ref Number
    * Unit Price
    * Shipping Price
  * Product Info
    * Properties
    * Description
    * Tags
  * Product Comments
    * Rating
***/

.product-full-view{
    height: 30%;
}

/* ========== Common ========== */
.product-full-view label {
    font-size: 18px;
    font-weight: lighter;
    color: crimson;
}

.product-full-view a {
    text-decoration: none !important;
}

/* ========== Product Images ========== */
#product-images {
    padding: 35px 35px 50px 35px;
    font-family: Arial, Helvetica, sans-serif;
}

    #product-images .image-in-focus {
        padding: 0 0 20px 0;
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
        height: 300px;
        justify-content: center;
    }

    #product-images .image-in-focus #image-in-focus {
        max-height: 100%;
    }

    #product-images .all-images {
        width: 100%;
        height: 100%;
    }

    #product-images .all-images .small-image{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 60px;
        padding: 5px 5px 5px 5px;
        margin: 3px 3px 3px 3px;
        list-style: none;
    }
        
        /* ----------- Large Image Modal ----------- */

        /* Style the Image Used to Trigger the Modal */
        #image-in-focus {
            cursor: pointer;
            transition: 0.3s;
        }

        #image-in-focus:hover {opacity: 0.7;}

        /* The Modal (background) */
        #large-image-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            padding-bottom: 60px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        #large-image {
            border-radius: 0;
        }

        /* Add Animation - Zoom in the Modal */
        #large-image { 
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.3s;
            animation-name: zoom;
            animation-duration: 0.3s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)} 
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            #large-image {
                width: 100%;
            }
        }

/* ========== SideBar ========== */
#product-sidebar {
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 0 0 0;
}

#product-sidebar label{
    height: 100%;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

#product-sidebar .col-md-4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
}

    /* ====== Title ====== */
    #product-sidebar #title{
        font-size: 18px;
    }

    /* ====== Seller ====== */
    #product-sidebar #seller a{
        text-decoration: none;
        color: midnightblue;
    }

    #product-sidebar #seller a:hover {
        text-decoration: none;
        color: dodgerblue;
    }

    /* ====== Rating ====== */
    #product-sidebar .ui-icon-star {
        opacity: 100;
    }

    /* ====== Is In Stock ====== */
    #product-sidebar #is-in-stock #in {
        font-size: 18px;
        color: green;
        font-weight: normal;
        margin: 0;
    }

    #product-sidebar #is-in-stock #quantity {
        font-size: 12px;
    }

    #product-sidebar #is-in-stock #out {
        font-size: 18px;
        color: darkred;
        font-weight: normal;
        margin: 0;
    }

    /* ====== Category ====== */
    #product-sidebar #category a{
        text-decoration: none;
        color: midnightblue;
    }

    #product-sidebar #category a:hover{
        text-decoration: none;
        color: dodgerblue;
    }

    /* ====== Ref Number ====== */
    #product-sidebar #ref-number p{
        font-size: 12px !important;
    }

    /* ====== Unit Price ====== */
    #product-sidebar #unit-price td{
        color: #e4c220;
    }

    /* ====== Shipping Price ====== */
    #product-sidebar #shipping td{
        color: #e4c220;
    }

/* ========== Product Info ========== */
#product-info {
    font-family: Arial, Helvetica, sans-serif;
}

    /* ====== Properties ====== */
    #product-info #properties{
        margin: 30px 0 0 0;
        padding: 20px 10px 0 10px;
        border-top: 2px solid;
        border-top-style: outset;
    }

        #product-info #properties table {
            width: 100%;
        }

        #product-info #properties table th {
            text-align: left;
            font-weight: normal;
            padding: 10px 10px;
            border-top: 1px solid #eeeaea;
            background-color: lightgoldenrodyellow;
        }

        #product-info #properties table td {
            text-align: left;
            font-weight: normal;
            padding: 10px 10px;
            border-top: 1px solid #eeeaea;
        }

    /* ====== Description ====== */
    #product-info #description{
        margin: 30px 0 0 0;
        padding: 20px 10px 0 10px;
        border-top: 2px solid;
        border-top-style: outset;
    }

        #product-info #description #description-content p{
            font-family: verdana,arial,helvetica,sans-serif;
            font-size: 16px !important;
        }

    /* ====== Tags ====== */
    #product-info #tags{
        margin: 0 0 0 0;
        padding: 0 10px 0 10px;
    }

        #product-info #tags .btn{
            padding: 0 7px;
            margin: 0 0 0 5px;
        }

/* ========== Product Comments ========== */
#product-comments {
    margin: 50px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

    #product-comments .row {
        margin: 25px 0 0 0;
    }

    #product-comments #no-comments{
        font-size: 13px;
    }

    #product-comments .comment-metadata{
        margin: 0 0 0 0;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #product-comments .comment-metadata a{
        text-decoration: none;
        color: midnightblue;
    }

    #product-comments .comment-metadata a:hover{
        text-decoration: none;
        color: dodgerblue;
    }

    #product-comments .comment-content{
        font-size: 14px;
        margin: 0 0 0 10px;
    }

    /* ====== Rating ====== */
    #product-comments .ui-icon-star {
        opacity: 100;
    }
