.cart-items .items-present-true {
    border: 1px solid #fbaf67;
    border-radius: 3px;
}

.cart-items .items-present-false {
    border: none;
}

.cart-subtotal {
    text-align: right;
    margin-right: 200px;
}

.cartitem-product {

}

.cartitem-quantity {

}