@model IEnumerable<MvcProject.Web.Areas.Common.ViewModels.Home.ProductViewModel>

@foreach(var product in Model)
{
    <div>
        <strong>
            @product.Name
        </strong>
    </div>
    @Ajax.ActionLink("See content", "DescriptionById", "Home", new { id = product.Id },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "product-description"
        })

    <br />
}

<div id="product-description"></div>