@{ 
    var fallbackImgUrl = Url.Content(StaticResourcesUrls.ServerPathAppManagementImages + string.Format(StaticResourcesUrls.ImageNotFoundFileName, StaticResourcesUrls.ImageThumbnailSuffix));
}

<li class="homepage-product-li">
    <div class="rows-container">
        <div class="row image">
            <img src="@Url.Content(string.Format(StaticResourcesUrls.ServerPathDataItemsImages, "#=ImageUrlPath#", StaticResourcesUrls.ImageThumbnailSuffix, "#=ImageFileExtension#"))"
                 alt="#=Title#"
                 onerror="if(this.src != '@fallbackImgUrl') { this.src = '@fallbackImgUrl'; }"/>
        </div>
        <div class="row price">
            <span>#=kendo.toString(UnitPrice, "c")#</span>
        </div>
    
        @(Ajax.ActionLink(
            linkText: "sneak peek",
            actionName: "SneakPeek",
            controllerName: "Products",
            routeValues: new { id = "encodedId"},
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "GET",
                AllowCache = true,
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "sneakpeak-loading-spinner",
                OnSuccess = "OnGetModalDataSuccess",
            },
            htmlAttributes: new
            {
                @class = "ajax-modal-link"
            })
            .ToHtmlString()
            .Replace("encodedId", "#=EncodedId#")
            .Replace("sneakpeak-loading-spinner", "#\\#sneakpeak-loading-spinner")
            .ToMvcHtmlString()
            )
    </div>
</li>
