@*@{ 
    IDictionary<string, object> routeValues = new Dictionary<string, object>();

    routeValues.Add("Area", Areas.PublicAreaName);
    routeValues.Add("id", (string)ViewData["encodedId"]);
}*@

<td class="listview-product-cell">
    <div class="img-div">
        <img src="@Url.Content("~/Content/Images/Products/" + (string)ViewData["id"] + "/")main-image.jpg" alt="@((string)ViewData["id"]) image" />
    </div>
    @*@Html.ActionLink(
        "sneak peek",
        "SneakPeak",
        "Products",
        new RouteValueDictionary(routeValues),
        new Dictionary<string, object>
        {
            { "@class" , "btn btn-link" }
        })*@

    <a href="/Public/Products/SneakPeak?Id=@((string)ViewData["encodedId"])" class="btn btn-link">
        <p id="sneak-peak">sneak peek</p>
    </a>

    <p>#=kendo.toString(@((string)ViewData["unitPrice"]), "c")#</p>
</td>