@using MvcProject.Web.Infrastructure.HtmlHelpers

<td class="listview-product-cell">
    <div class="img-div">
        <img src="@Url.Content("~/Content/Images/Products/" + "#=Id#")/main-image.jpg" alt="main image of a product" />
    </div>

    @(Ajax.ActionLink(
        "sneak peek",
        "SneakPeek",
        "Products",
        new { id = "encodedId"},
        new AjaxOptions
        {
            HttpMethod = "GET",
            AllowCache = true,
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "spinner",
            OnSuccess = "OnGetModalDataSuccess",
        },
        new
        {
            @class = "ajax-modal-link"
        })
        .ToHtmlString()
        .Replace("encodedId", "#=EncodedId#")
        .Replace("spinner", "#\\#spinner")
        .ToMvcHtmlString()
        )

    <p>#=kendo.toString(UnitPrice, "c")#</p>
</td>
