@model MvcProject.Web.Areas.Public.ViewModels.Search.SearchFilterForCategoryViewModel

@{
    var options = Model.OptionsLabels;
}

<div class="row">
    @Html.LabelFor(m => m, Model.Name)
    <ul class="multiselect-filter" id="@(Model.Name + Model.Id.ToString())">
        @for (int i = 0; i < options.Count(); i++)
        {
            <li>
                @Ajax.ActionLink(options[i],
                    "ProcessFilterSelection",
                    "Search",
                    new { area = Areas.PublicAreaName, filterId = Model.Id, optionsType = Model.Type, selectedOption = options[i] },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.ReplaceWith,
                        UpdateTargetId = "",
                        LoadingElementId = "loading-spinner",
                    })
            </li>
        }
    </ul>
</div>