@using MvcProject.Web.Areas.Public.ViewModels.Orders

@model ShoppingCartViewModel

<div id="shopping-cart">
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.TotalCost)

    @{ 
        var hasItems = Model.CartItems.Any();
    }

    @if (!hasItems)
    {
        @: No items in the cart yet.
    }

    <div class="row cart-items items-present-@(hasItems.ToString().ToLower())">
        @Html.EditorFor(m => m.CartItems)
    </div>
    <hr />
    <div class="row cart-subtotal">
        <span>Subtotal: @string.Format("{0:c}", Model.TotalCost)</span>
    </div>
</div>