@using JustOrderIt.Web.Areas.Public.ViewModels.Products

@model IEnumerable<ProductDetailsForIndexListView>

@{
    ViewBag.Title = "HighestVotedProducts";
}

<div class="row homepage-listview">
    <h3>Stars We Got! The @UiSpecificConstants.IndexListViewNumberOfhighestVotedProducts highest rated items</h3>
    @(Html.GenericListViewHelper<ProductDetailsForIndexListView>(
        name: "highestVotedProducts",
        wrapperTagName: "ul",
        templateId: "products-listView-template",
        //dataSource: Model,
        readAction: "ReadHighestVotedProducts",
        controllerName: "Home",
        modelIdExpression: m => m.Id,
        pageSize: 5,
        isServerOps: true)
        .Events(ev => ev.DataBound("onListViewDataBound"))
        .HtmlAttributes(new { @class = "productsList" })
        .Deferred())
</div>