@model IEnumerable<MvcProject.Web.ViewModels.Home.IndexSampleProductViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach (var sampleProduct in Model)
    {
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <b>
                        <a href="/">@sampleProduct.Name</a>
                    </b>
                </div>
            </div>
            <div class="col-md-1">
                <div class="row">
                    <span class="label label-default">7</span>
                </div>
                <div class="row">
                    <span class="label label-default">comments</span>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <p>@sampleProduct.Description</p>
                </div>
                <div class="row">
                    <span class="badge">cats</span>
                    <span class="badge">dogs</span>
                    <span class="badge">mice</span>
                    <span class="badge">suricat</span>
                    <span class="badge">cateri4e</span>
                </div>
            </div>
        </div>
        <hr />
    }
</div>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@