@{ 
    var fallbackImgUrl = Url.Content(StaticResourcesUrls.ServerPathAppManagementImages + StaticResourcesUrls.ImageNotFoundFileName);
}

<li class="search-product-li">
    <div class="rows-container">
        <div class="row image">
            <img src="@Url.Content(string.Format(StaticResourcesUrls.ServerPathDataItemsImages, "#=ImageUrlPath#", StaticResourcesUrls.ImageThumbnailSuffix, "#=ImageFileExtension#"))"
                 alt="#=Title#"
                 onerror="if(this.src != '@fallbackImgUrl') { this.src = '@fallbackImgUrl'; }"/>

            @(Html.ActionLink(
                linkText: " ",
                actionName: "Index",
                controllerName: "Products",
                routeValues: new { id = "encodedId"},
                htmlAttributes: new { @class = "product-link-hidden" })
                .ToHtmlString()
                .Replace("encodedId", "#=EncodedId#")
                .ToMvcHtmlString()
                )
        </div>
        <div class="row title">
            <p title="#=Title#">#=ShortTitle#</p>
        </div>
        <div class="row price">
            <p>#=kendo.toString(UnitPrice, "c")#</p>
        </div>
        <div class="row rating">
            @*@(Html.Partial(
                "Rating",
                3d,
                //Convert.ToDouble("ratingValue"),
                //Convert.ToDouble(string.Format("{0}", "ratingValue")),
                //double.Parse(string.Format("{0}", "#=AllTimeAverageRating#")),
                new ViewDataDictionary(this.ViewData)
                {
                    { "ratingId", "product-igRating" + /*"IdRatingId"*/ new Random().Next().ToString() },
                    { "htmlAttributes", new Dictionary<string, object>() { { "class", "product-rating" } } }
                })
            .ToHtmlString()
            //.Replace("'", "\\'")
            //.Replace("ratingValue", "#=AllTimeAverageRating#")
            //.Replace("IdRatingId", "#=Id#")
            .ToMvcHtmlString()
            )*@
        </div>
    </div>
</li>
