@using MvcProject.Web.Areas.Public.ViewModels.Categories

@model CategorySearchViewModel

<div id="search-filters">
    @using (Html.BeginForm(
        "SearchByCategory",
        "Search",
        new { area = Areas.PublicAreaName },
        FormMethod.Post,
        new { id = "refinement-options-form" }
        ))
    {
        @*@Html.AntiForgeryToken()
        @Html.ValidationSummary()*@

        <button type="submit" value="OK" id="search-form-submit" style="visibility:hidden">FILTER</button>

        @Html.Hidden("categoryId", Model.Id)
        @Html.HiddenFor(m => m.Query)
        
        @Html.EditorFor(m => m.SearchFilters)
    }
</div>