@using MvcProject.Web.Areas.Public.ViewModels.Categories

@model CategorySearchViewModel

<div class="row">
    @Html.Partial("_TopSearchPanel")
</div>
<div class="row">
    <div class="col-md-2">
        @Html.Partial("_RefineSearchBar", Model.SearchFilters, new ViewDataDictionary(this.ViewData) { { "categoryId", Model.Id } })
    </div>
    <div class="col-md-10">
        @Html.Partial("_SearchResults", null, new ViewDataDictionary(this.ViewData) { { "categoryId", Model.Id} })
        @*<img id="loading-spinner" src="~/Content/Kendo/Silver/loading_2x.gif" style="display: none; text-align: center;">*@
    </div>
</div>


@section Scripts{
    <script>
        //$(document).ready(function () {
        //    var searchFilters = [];
        //    $('.search-filter').each(function getSearchFilters(index, searchFilter) {
        //        var filterInfo = {};
        //        filterInfo.Name = searchFilter.
        //        searchFilters.push();
        //    });
        //    //$('.options-label input').each(function (index, inputElem) {
        //    //    searchFilters.push(inputElem.value);
        //    //});

        //    console.log(searchFilters);

        //    //set initial state.
        //    //$('input.options-label').val($(this).is(':checked'));

        //    $('.options-label input').change(function () {
        //        //console.log($(this).val());
        //        $("#SearchResultListView").data("kendoListView").dataSource.read();
        //        //if ($(this).is(":checked")) {
        //        //    var returnVal = confirm("Are you sure?");
        //        //    $(this).attr("checked", returnVal);
        //        //}
        //        //$('.options-label input').val($(this).is(':checked'));
        //    });
        //});

        var searchFilters = [];
        $('.search-filter').each(function getFilterNames(index, filter) {
            searchFilters.push({ Name: $(filter).data('filter-name') });
            //var options = $(this);
        });

        function submitForm(e) {
            $("#SearchResultListView").data("kendoListView").dataSource.read();
            //console.log($(e));
            //$(this).parents('form:first').find('#search-form-submit').click();
            //$(e).parents('form:first').submit();
        }


        function readHandler(data) {
            //datetimeHandlers.normalizeDateProperties(data);
            //return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
            return {
                searchFilters : searchFilters
            }
        }
    </script>    
}