@model MvcProject.Web.Areas.Common.ViewModels.Kendo.KendoTestViewModel
@*BindTo data binding*@
<div>
    @*@(Html.Kendo()
        .AutoCompleteFor(m => m.Country)
        .BindTo(Model.Countries)
        .Deferred())*@

    @*@(Html.Kendo()
        .AutoComplete()
        .Name("countries")
        .BindTo((List<string>)ViewBag.Countries)
        .Deferred())*@
</div>
@*DataSource data binding*@
<div>
    @(Html.Kendo()
        .AutoCompleteFor(m => m.Country)
        .MinLength(3)
        .DataSource(data =>
        {
            data
                .ServerFiltering(true)
                .Read(read =>
                {
                    read
                        .Action("AutocompleteData", "Kendo")
                        .Data("onAutocompleteData");
                });
        })
        .Deferred())
</div>

@section Scripts{
    @Html.Kendo().DeferredScripts()

    <script>
        function onAutocompleteData() {
            return {
                text: $('#Country').val()
            }
        }
    </script>
}