@model string

@{ 
    string customClass = "";
    if (ViewData["customClass"] != null)
    {
        customClass = (string)ViewData["customClass"];
    }
}
<p class="@customClass" style="font-size: 20px">
    @Model
</p>