
@*<div class="row">
    <img src="@Url.Content("~/Content/Images/" + "#=MainImage.UrlPath#" + "_tmbl" + "#=MainImage.FileExtension#")" alt="main image of a product" />
</div>*@

<img src="@Url.Content("https://s.graphiq.com/sites/default/files/stories/t2/tiny_cat_12573_8950.jpg")" />