<div id="seller-details" class="seller-details container">
    <div class="row">
        <div class="col-md-1"><label for="seller-id">Id</label></div>
        <div id="seller-id_#=Id#" class="col-md-10"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"><label for="seller-name">User name</label></div>
        <div id="seller-name_#=Id#" class="col-md-10"></div>
    </div>
</div>