<span class="uploaded-item">
    <img src="@Url.Content("~/Content/Images/" + "#=url#")"/>
    <span class="k-filename" title="#=name#">#=name#</span>
</span>

@*<li class="k-file k-file-success">
    <span class="k-progress" style="width: 100%;"></span>
    <span class="k-icon k-i-jpg">uploaded</span>
    <span class="uploaded-item">
        <img src="@Url.Content("~/Content/Images/" + "#=url#")">
        <span class="k-filename" title="#=name#">#=name#</span>
    </span>

    <strong class="k-upload-status">
        <span class="k-upload-pct">100%</span>
        <button type="button" class="k-button k-button-bare k-upload-action">
            <span class="k-icon k-i-close k-delete" title="Remove"></span>
        </button>
    </strong>
</li>*@
