@model List<MvcProject.Web.Areas.Admin.ViewModels.Users.IndexUserViewModel>

@foreach (var user in Model)
{
    <div>
        <h3>@user.Name - @user.Roles.FirstOrDefault()</h3>
    </div>
}

@*@(Html.DropDownList())*@