@*@model List<MvcProject.Web.Areas.Admin.ViewModels.Users.UserViewModel>*@

@*@foreach (var user in Model)
{
    <div>
        <h3>@user.Name - @user.Roles.FirstOrDefault()</h3>
    </div>
}*@

@{
    var data = new List<SelectListItem>();
    for (int i = 0; i < 3; i++)
    {
        data.Add(new SelectListItem() { Text = i.ToString() + "cifra", Value = i.ToString() });
    }
}

@(Html.Kendo().DropDownList()
    .Name("kdropdownlist")
    .DataTextField("Text")
    .DataValueField("Value")
    .Deferred()
    //.DataSource(data =>
    //{
    //    data.Read();
    //})
    .BindTo(Model)
    .OptionLabel("Select...")
)

@section Scripts{
    @(Html.Kendo().DeferredScripts())
}
