<h2>Test Remove From Role</h2>
<form action="TestRemoveFromRole" method="post">
    <div class="form-group">
        @Html.TextArea("removeId", "removeId", null)
    </div>
    <div class="form-group">
        @Html.TextArea("addId", "addId", null)
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Send user Ids" />
    </div>
</form>