@model MvcProject.Web.Areas.Common.ViewModels.Home.ProductViewModel
@{
    ViewBag.Title = "ById";
}

<div>
    <h3>
        @Model.Id
    </h3>
    <div>
        @Model.Name
    </div>
    <div>
        @Model.Description
    </div>
    <div>
        @Model.Category
    </div>
</div>

