body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*min-width: 460px;*/
}

h3 {
    margin-top: 25px;
    text-align: center;
    color: #535353;
}

.row {
    margin: 0 0 0 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* NAVBAR */
.navbar {
    border: none;
    border-radius: 0 0 0 0;
    background-color: #046969;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.navbar-nav {
    margin: 0 0 0 0;
}

#main-logo {
    margin: 0 0 0 0;
    padding: 10px 0 0 0;
    background-color: transparent;
}

.navbar-brand {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: smaller;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fadcb4;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: transparent;
    color: #fadcb4;
}

    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: #fadcb4;
    }

.navbar-right {
    margin: 0 0 0 0;
}

.navbar-form .input-group {
    width: 100%;
}

#navbar-search {
    overflow-y: visible;
}

#navbar-search-input
{
    float: none;
    max-width: none;
    width: 70%;
    vertical-align: middle;
}

#navbar-search-options {
    border-radius: 4px 0 0 4px;
}

    #navbar-search-options > div {
        min-width: 30px;
    }

@media (max-width: 527px) {
    #navbar-search-options > text {
        display: none;
    }
}

#navbar-search-btn {
    border-radius: 0 4px 4px 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #ca3131;
    font-weight: bold;
}

/* BODY */
/* Set padding to keep content from hitting the edges */
#body-content {
    padding: 0 0 100px 0;
    /*min-height: 190%;*/
    min-height: 600px;
    width: 90%;
}

/* FOOTER */
.panel-footer {
    margin: 0 0 0 0;
    padding: 0 0;
    position: relative;
    bottom: 0;
    text-align: center;
}

    .panel-footer > #footer-content {
        text-align: center;
    }

    .panel-footer > #copyright {
        margin: 0 0;
        padding: 5px 0;
        background-color: white;
    }

#footer-items {
    float: none;
}

    #footer-items .no-bullets {
        list-style-type: none;
    }
