@{
    ViewBag.Title = "Checkout Success - OrderIt.com";
}

<h4>Congrats! You "completed" your order. Unfortunately, no billing system has been implemented yet. You can continue browsing this website if you feel like it. Thanks for visiting:)</h4>
<div class="checkout-complete">
    <img src="@(Url.Content(StaticResourcesUrls.ServerPathAppManagementImages + "puppy-with-cart.gif"))" alt="Billing system not implemented" />
</div>