@{
    ViewBag.Title = "CheckoutSuccess";
}

<h4>Congrats! You "completed" your order. Unfortunately, no billing system has been implemented yet. You can continue browsing this website if you feel like it. Thanks for visiting:)</h4>

