@{
    ViewBag.Title = "CheckoutSuccess";
}

<h4>Congrats! You "completed" your order. Unfortunately, no payment method has been implemented yet. You can continue browsing this website if you feel like it.</h4>

