@using MvcProject.Web.Areas.Public.ViewModels.Orders

@{
    ViewBag.Title = "Shopping Cart";
}

<h3 style="text-align: left">Shopping Cart</h3>

@model ShoppingCartViewModel

@using (Ajax.BeginForm(
    "UpdateShoppingCart",
    "Orders",
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.ReplaceWith,
        LoadingElementId = "cart-loading-spinner",
        UpdateTargetId = "shopping-cart"
    },
    new { }
    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.Partial("ShoppingCartPartial", Model)

    <div class="row cart-update">
        <button type="submit" class="cart-update-button"><span>Update Cart</span></button>
        <button type="button" id="checkout-button">
            @Html.ActionLink("Checkout", "Checkout", "Orders", null, new { id = "checkout-link" })
        </button>
    </div>
}

<div id="cart-loading-spinner" style="display: none; position: fixed; left: 50%; top: 50%;">
    <img src="~/Content/Kendo/Silver/loading_2x.gif" >
</div>

@section Scripts{
    <script>
        $(document).ready(function onDocumentReady() {
            //$('.cart-item-remove').on('click', function onCartItemRemove(e) {
            //    var button = $(this);

            //    button.parents('form:first').submit();
            //    //console.log($(this).parents('form:first'));
            //});
        });
    </script>
}