<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
    @if (this.Context.User.IsInRole(IdentityRoles.Admin))
    {
        <li><a href="@Url.Action("Index", "Home", new { Area = Areas.AdministrationAreaName })">@Areas.AdministrationAreaName</a></li>
    }
    <li><a href="#">Cart</a></li>
</ul>