@using MvcProject.Web.Areas.Public.ViewModels.Orders

<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
    @if (this.Context.User.IsInRole(IdentityRoles.Admin))
    {
        <li>
            @Html.ActionLink(Areas.AdministrationAreaName, "Index", "Home", new { Area = Areas.AdministrationAreaName }, null)
            @*<a href="@Url.Action("Index", "Home", new { Area = Areas.AdministrationAreaName })">@Areas.AdministrationAreaName</a>*@
        </li>
    }
    @if (this.User.Identity.IsAuthenticated && !User.IsInRole(IdentityRoles.Admin))
    {
        <li>
            <a href="@Url.Action("ShoppingCart", "Orders", new { @*UserName = this.User.Identity.Name,*@ area = Areas.PublicAreaName })">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Cart
            </a>
            @*@Html.ActionLink(
                "Cart",
                "ShoppingCart",
                "Orders",
                new { UserName = this.User.Identity.Name, area = Areas.PublicAreaName },
                null)*@
        </li>
    }
</ul>