<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
    @if (this.Context.User.IsInRole(IdentityRoles.Admin))
    {
        <li>
            @Html.ActionLink(Areas.AdministrationAreaName, "Index", "Home", new { Area = Areas.AdministrationAreaName }, null)
            @*<a href="@Url.Action("Index", "Home", new { Area = Areas.AdministrationAreaName })">@Areas.AdministrationAreaName</a>*@
        </li>
    }
    @if (this.User.Identity.IsAuthenticated && !User.IsInRole(IdentityRoles.Admin))
    {
        <li>
            @Html.ActionLink("Cart", "ShoppingCart", "Orders", new { area = Areas.PublicAreaName}, null)
            @*<a href="#">Cart</a>*@
        </li>
    }
</ul>