<form id="navbar-search" class="navbar-form collapse navbar-collapse" role="search">
    <div class="input-group">
        <div class="input-group-btn">
            <button id="navbar-search-options" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-down"></span>
                <text>Everywhere</text>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
            <input id="navbar-search-input" type="text" class="form-control" placeholder="Search">
            <button id="navbar-search-btn" type="submit" class="btn btn-default"><content class="glyphicon glyphicon-search"></content></button>
        </div>
    </div>
</form>