@model MvcProject.Web.Areas.Public.ViewModels.Products.ProductCommentWithRatingViewModel

<div class="row product-comment">
    <p class="comment-metadata">By @Html.ActionLink(Model.UserName, "UserProfile", "Users", new { userName = Model.UserName }, null) on @Model.CommentCreatedOn.
        @if (Model.Rating != null)
        {
            Html.RenderPartial("_ProductVote", Model.Rating);
        }
    </p>
    <p class="comment-content">@Model.CommentContent</p>
</div>