/*** SECTIONS:
  * Common
  * Navbar
    * NavBar Upper
      * Logo
      * Login
    * NavBar Lower
      * NavBar Lower Left
      * NavBar Lower Middle
      * NavBar Lower Right
  * Body
  * Footer
***/

/* ========= Common ========= */
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*min-width: 460px;*/
}

h3 {
    color: #535353;
    margin-top: 25px;
    text-align: center;
}

.row {
    margin: 0 0 0 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* ========= Navbar ========= */
#navbar {
    background-color: #046969;
    border: none;
    border-radius: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/*#navbar .navbar-nav {
    margin: 0 0 0 0;
}*/

#navbar .navbar-nav {
    margin: 0 0 0 0;
}

/*#navbar .navbar-nav > li > a {
    font-size: smaller;
}*/

#navbar .navbar-nav > li > a {
    font-size: smaller;
}

/*#navbar .navbar-nav > li > a:hover, #navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fadcb4;
}*/

#navbar .navbar-nav > li > a:hover, #navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fadcb4;
}

/*#navbar .navbar-nav > .open > a {
    background-color: transparent;
    color: #fadcb4;
}*/

#navbar .navbar-nav > .open > a {
    background-color: transparent;
    color: #fadcb4;
}

/*#navbar .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #fadcb4;
}*/

#navbar .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #fadcb4;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #e96060;
    font-weight: bold;
}

    /* ========= NavBar Upper ========= */
        /* ========= Logo ========= */
        #main-logo {
            background-color: transparent;
            margin: 0 0 0 0;
            padding: 10px 0 0 0;
            width: 100%;
        }

        /* ========= Login ========= */

    /* ========= NavBar Lower ========= */
        /* ========= NavBar Lower Left ========= */
        @media (min-width: 979px) {
        .navbar-nav > li.dropdown:hover > ul.dropdown-menu{
                display: block;
            }
        }

        /* ========= NavBar Lower Middle ========= */
        #navbar-search {
            overflow-y: visible;
        }

        #navbar-search .input-group {
            width: 100%;
        }

        #navbar-search-query
        {
            float: none;
            max-width: none;
            /*Prevents popping in front of a modal window*/
            vertical-align: middle;
            width: 70%;
            z-index: 0;
        }

        #navbar-search-options {
            background-color: #999999;
            border: none;
            color: #ffffff;
            width: auto;
            /*Prevents popping in front of a modal window*/
            z-index: 0;
        }

            #navbar-search-options > option {
                background-color: #ffffff;
                color: #777777;
                min-width: 30px;
            }

        #navbar-search-btn {
            border-radius: 0 4px 4px 0;
            /*Prevents popping in front of a modal window*/
            z-index: 0;
        }

        /*@media (max-width: 527px) {*/
        @media (max-width: 630px) {
            #navbar-search-options {
                max-width: 40%;
            }
        }

        /* ========= NavBar Lower Right ========= */
        .navbar-right {
            margin: 0 0 0 0;
        }

        #navbar-cart .badge{
            background-color: #de2c2c;
            color: #ffffff;
            font-size: 12px;
            vertical-align: middle;
        }

/* ========= Body ========= */
/* Set padding to keep content from hitting the edges */
#body-content {
    min-height: 600px;
    padding: 0 0 100px 0;
    width: 98%;
}

/* ========= Footer ========= */
.panel-footer {
    bottom: 0;
    margin: 0 0 0 0;
    padding: 0 0;
    position: relative;
    text-align: center;
}

#footer .navbar-nav {
    margin: 0 0 0 0;
}
    .panel-footer > #footer-content {
        text-align: center;
    }

    .panel-footer > #copyright {
        background-color: white;
        margin: 0 0;
        padding: 5px 0;
    }

#footer-items {
    float: none;
}

    #footer-items .no-bullets {
        list-style-type: none;
    }
